html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e2e8f0;
}

#root {
  height: 100%; /* Ensure root takes full height */
}

.app-container {
  display: flex;
  height: 100vh; /* Full viewport height for the entire app */
}
